body {
  max-width: 1200px;
  margin: auto;
  font-size: 14px;
}
body.home-page {
  border: 1px solid #EEE;
  padding: 0px 4px 0px 0px;
  box-shadow: 2px 2px 4px #EEE;
}
.logo {
  padding: 4px 0px 0px 12px;
}
.online-logs {
  position: fixed;
  z-index: 1010;
  bottom: 0px;
  height: 40%;
  width: 100%;
  background-color: #222;
  color: #CCC;
  font-size: 14px;
  opacity: 0.9;
  max-width: 1200px;
  border: 1px solid #888;
  box-shadow: 2px 2px 4px #888;
}
.online-logs .log-lines {
  padding: 8px;
  line-height: 1.6em;
  overflow-y: scroll;
}
.log-lines pre {
  margin: 0px;
}
a {
  color: #08C;
  text-decoration: underline;
}
a:hover {
  color: #005580;
  text-decoration: none;
}
nav a {
  padding: 4px 12px;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover {
  color: #FFF;
  background-color: #005580;
}
a.btn {
  padding: 4px;
}
a.btn:hover {
  color: #FFF;
  background-color: #005580;
}
.top-bar {
  border-bottom: 1px solid #AAA;
  padding-bottom: 4px;
  margin-bottom: 12px;
}
.top-bar .logo {
  width: 200px;
}
.top-nav {
  width: 70%;
  padding: 12px 8px;
  background-color: #EEE;
  float: right;
}
.left-side {
  width: 15%;
  padding: 20px 8px;
  background-color: #EEE;
  position: fixed;
  left: 0px;
  top: 0px;
}
.main {
  width: 75%;
  margin-left: 20%;
}
#main-iframe {
  border: none;
  width: 100%;
}

table {
  border: 1px solid #CCC;
  padding: 4px;
  box-shadow: 2px 2px 4px #CCC;
  border-collapse:collapse
}
tr:first-child {
  background-color: #004154;
  color: #EEE;
  font-weight: bold;
}
/*
tr:hover {
  cursor: pointer;
  background-color: #D9EDF7;
  color: #3A87AD;
}
*/
td {
  padding: 4px;
  padding-left: 8px;
  text-align: left;
  border-bottom: 1px solid #888;
  border-left: 1px dashed #888;
}
tr:first-child td {
  border-left: 1px solid #EEE;
}
tr:first-child td:first-child, td:first-child {
  border-left: none;
}
textarea {
  min-height: 200px;
  width: 98%;
}
.logtype-log {
  
}
.logtype-info {
  color: cyan;
}
.logtype-debug {
  color: green;
}
.logtype-error {
  color: red;
}
.logtype-warn {
  color: yellow;
}
.logtype-stdout {
  
}
.logtype-stderr {
  color: red;
}
.log-appname {
  padding: 0px 4px;
  border: 1px solid;
  margin-right: 20px;
}
.logtype-stderr .log-appname {
  color: red;
}
